html {
  scroll-behavior: smooth; }

#intro {
  background: url("../img/bg2.jpg") no-repeat center center;
  background-size: cover; }

.top-nav-collapse {
  background-color: #1A79C7 !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #1A79C7 !important; } }

#intro .h6 {
  font-weight: 300;
  line-height: 1.7; }

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }

.hm-gradient .site-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(9, 33, 106, 0.7), rgba(26, 121, 199, 0.7) 100%); }

  .logo{
    max-height: 50px;
    max-width: 200px;
  }

  .banner{
    line-height: 30px;
    font-size: 20px;
  }

  .ls3{
    letter-spacing: 1.2px;
  }

  .heading-blue{
    color:#0A3A98;
  }

  .indigo{
    background-color: #0C72DF !important;
  }

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; } }

#pricing .lead {
  opacity: 0.7; }

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center; }

#pricing ul li {
  font-size: 1.1em; }
